@model IEnumerable<Degree>
<h2>Degrees</h2>
<hr />

@if (TempData["PieDeleted"] != null)
{
    <p class="text-success">@TempData["PieDeleted"]</p>
}


@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No degrees at this point</td></tr>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Creation Time
            </th>
            <th>
                Actions
            </th>
          
        </tr>
        @foreach (var degree in Model)
        {

            <tr>
                <td>@degree.DegreeId</td>
                <td>@degree.Name</td>
                <td>@degree.CreationTime</td>
                <td>
                    <a asp-action="Details" asp-route-id="@degree.DegreeId">Details</a>
                    <a asp-action="Edit" asp-route-id="@degree.DegreeId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@degree.DegreeId">Delete</a>

                </td>
            </tr>
        }
    </table>
}

<p>
    <a class="btn btn-primary" asp-action="Add">Add new Degree</a>
</p>
